<div class="card mt-3">
  <div class="card-header bg-info text-white">
    <h2>Liste des stagiaires</h2>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Civilité</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Courriel</th>
        <th>Date de naissance</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let stagiaire of list()">
        <td [routerLink]="['/stagiaire', stagiaire.id]">{{stagiaire.id}}</td>
        <td>{{stagiaire.civilite}}</td>
        <td>{{stagiaire.nom | uppercase}}</td>
        <td>{{stagiaire.prenom}}</td>
        <td>{{stagiaire.email}}</td>
        <td>{{stagiaire.dtNaissance | date:"dd/MM/yyyy"}} ({{stagiaire.dtNaissance | age}} ans)</td>
        <td>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-primary" (click)="edit(stagiaire.id)"><i class="fa fa-edit"></i></a>
            <a class="btn btn-danger" (click)="remove(stagiaire.id)"><i class="fa fa-trash"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <a class="btn btn-success btn-lg" (click)="add()">
      <i class="fa fa-plus"></i>
    </a>
  </div>

  <div class="card mt-3" *ngIf="stagiaireForm!=null">
    <div class="card-header bg-info text-white">
      <h3>Edition du stagiaire</h3>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="civilite">Civilite:</label>
        <select class="form-control" id="civilite" [(ngModel)]="stagiaireForm.civilite">
          <option value="">Choisir une civilité</option>
          <option value="M">Monsieur</option>
          <option value="MME">Madame</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" [(ngModel)]="stagiaireForm.nom">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" class="form-control" id="prenom" [(ngModel)]="stagiaireForm.prenom">
      </div>
      <div class="form-group">
        <label for="email">Courriel:</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="stagiaireForm.email">
      </div>
      <div class="form-group">
        <label for="dtNaissance">Date de naissance:</label>
        <input type="date" class="form-control" id="dtNaissance" [ngModel]="stagiaireForm.dtNaissance | date:'yyyy-MM-dd'" (ngModelChange)="stagiaireForm.dtNaissance = $event">
      </div>
      <div class="form-group">
        <label for="formateur">Formateur:</label>
        <select class="form-control" id="formateur" [(ngModel)]="stagiaireForm.formateur.id">
          <option value="">Choisir un formateur</option>
          <option *ngFor="let form of listFormateur()" [value]="form.id">{{form.nom}} {{form.prenom}}</option>
        </select>
      </div>
    </div>

    <div class="card-footer">
      <div class="btn-group btn-group-lg float-right">
        <a class="btn btn-success" (click)="save()">
          <i class="fa fa-check"></i>
        </a>
        <a class="btn btn-warning" (click)="cancel()">
          <i class="fa fa-undo"></i>
        </a>
      </div>
    </div>

  </div>
</div>
