<div class="card mt-3">
  <div class="card-header">Détail du stagiaire n° {{stagiaire.id}}</div>
  <div class="card-body">
    <div class="form-group">
      <label>{{stagiaire.civilite}}</label>
    </div>
    <div class="form-group">
      <label>{{stagiaire.nom}}</label>
    </div>
    <div class="form-group">
      <label>{{stagiaire.prenom}}</label>
    </div>
    <div class="form-group">
      <label>{{stagiaire.email}}</label>
    </div>
    <div class="form-group">
      <label>{{stagiaire.dtNaissance}}</label>
    </div>
  </div>
</div>
